[Unit]
Description=Babashka nREPL Server

[Service]
ExecStart=/usr/bin/bb nrepl-server 7888
WorkingDirectory=%Y
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
